@charset "utf-8";

body { background: #000; }
.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  /* 기본css */
  
  /* 헤더 */
  #header {
    width: 100%;
    background: rgba(255, 255, 255, 0);
    display: block;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.2s;
    z-index: 55555;
  }
  
  #header:hover {
    background: rgba(255, 255, 255, 1);
  }
  #header:hover + .hamburger-button span {
    background: #3d4146;
  }
  
  #header.on {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 10px 2px rgb(0 0 0 / 10%);
  }
  #header.on + .hamburger-button span {
    background: #3d4146;
  }
  
  /* 헤더 로고 */
  #header .logobox {
    width: 180px;
    height: 43px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  
  #header .logobox .logo {
    background: url(../img/LECAMP_logo1.png);
    display: block;
    width: 110px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  #header .logobox img {
    display: none;
  }
  
  #header:hover .logobox .logo {
    background: url(../img/LECAMP_logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  #header.on .logobox .logo {
    background: url(../img/LECAMP_logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /* 헤더 탑메뉴 */
  #header .top_menu {
    text-align: right;
    color: #999;
    font-size: 12px;
  }
  
  #header .top_menu .row {
    position: relative;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    display: none;
  }
  
  #header:hover .top_menu .row {
    display: block;
  }
  
  #header.on .top_menu .row {
    display: block;
  }
  
  #header .top_menu a {
    padding: 7px 20px;
    display: inline-block;
  }
  
  /* nav 메뉴 */
  #header #nav .depth1 > li {
    color: #000;
    display:none;
  }
  #header #nav .depth1 { 
    position: fixed; 
  }
  
  #header.on #nav .depth1 > li {
    color: #000;
  }
  
  #header #nav {
    width: 100%;
    overflow: hidden;
  }
  
  #header #nav .depth1 {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    width: 700px;
    transition: all 0.8s;
    display: flex;
  }
  
  #header #nav .depth1 > li {
    display: block;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin: 45px 0;
    transition: all 0.3s;
  }
  
  #header #nav .depth1 > li:hover {
    color: #90a4ae;
  }
  
  /* #nav .navbox .box_bg {
    width: 100%;
    height: 0;
    background: #fff;
    display: none;
    box-shadow: 0px 8px 10px 2px rgb(0 0 0 / 10%);
    position: absolute;
    top: 100px;
  } */
  
  /* 사이드 메뉴 열기 버튼 */
  .hamburger-button {
    display: inline-block;
    /* position: absolute; */
    position: fixed;
    transition: 0.3s ease-in-out;
    width: 35px;
    height: 30px;
    /* top: 50%;
    right: 20px;
    transform: translateY(-50%); */
    top: 30px;
    right: 3%;
    z-index: 999999;
  }
  
  .hamburger-button span {
    position: absolute;
    height: 8px;
    border-radius: 4px;
    width: 100%;
    background: #fff;
    top: 0;
    transition: 0.2s;
    z-index: 999999;
  }
  .hamburger-button:hover span {
    background: #3d4146;
  }
  .hamburger-button span:nth-child(1) {
    top: 0;
  }
  
  .hamburger-button span:nth-child(2),
  .hamburger-button span:nth-child(3) {
    top: 13px;
  }
  
  .hamburger-button span:nth-child(4) {
    top: 26px;
  }
  
  .hamburger-button.active {
    z-index: 9999999;
  }
  
  .hamburger-button.active span {
    background-color: #fff;
  }
  .hamburger-button.active:hover span {
    background-color: #3d4146;;
  }
  
  .hamburger-button.active span:nth-child(1),
  .hamburger-button.active span:nth-child(4) {
    opacity: 0;
  }
  
  .hamburger-button.active span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .hamburger-button.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
#section {
  padding-bottom: 44%; 
}
.article1 h2 { padding: 30px 0 40px; }
.article1 ul { padding: 0 0 0 40px; }
.article1 ul li { float: left; width: 32%; margin-bottom: 5%;
    text-align: center;
}

.article1 ul li:nth-child(3n) { margin-right: 0%; }
.article1 li > div { position: relative; overflow: hidden; }
.article1 li > div::before {
    content:''; position:absolute; top:0; left:0; right:0;
    bottom:0;  background:rgba(0,0,0,0);
    transition:all 0.4s;
}
.article1 li:hover > div::before {
    background: rgba(0,0,0,0.5);
}
.article1 li > div img { transition: all 0.4s; }
/* li:hover > div img { transform: scale(1.2); } */
.article1 li .zoom { position: absolute;
    top: 50%; transform: translateY(-50%);
    left: 0; right: 0;
    color: #fff; opacity: 0;
    transition: all 0.4s; z-index: 10;
}
.article1 li:hover .zoom { opacity: 1; }
.article1 li h3 { font-size: 35px; margin: 12px; }
.article1 li p { font-size: 20px; margin: 12px; }
.article1 li .zoom a { padding: 10px 40px;
  display: inline-block;
  border: solid rgba(255,255,255,255);
  margin: 5px;
}


 /* 푸터 */
 /* #footer {
    width: 100%;
    position: relative; */
    /* transform: translateY(-100%); */
    /* position: fixed;
    left: 0;
    bottom: 0; */
    /* background: #111;
    padding: 20px 0 160px 0;
    color: #ddd;
  } 
  
  #footer .footer_wrap {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  
  #footer .footer_logo img {
    width: 148px;
    height: 85px;
    position: absolute;
    left: -60px;
  }*/
  
  /* #footer .fnb {
    width: 80%; */
    /* padding: 15px 0 0 0; */
    /* overflow: hidden;
    margin-left: 160px;
    position: absolute; */
    /* top: -15px; */
    /* left: 0px;
  } */
  
  /* #footer .fnb li {
    display: inline-block;
    color: #ddd;
    font-weight: bold;
    font-size: 16px;
  }
  
  #footer .fnb li:hover a {
    color: #fff;
  } 
  
  #footer .fnb li a {
    padding: 0 20px;
  }
  
  #footer .fnb span {
    padding-left: 5px;
    color: #777;
    font-size: 14px;
  }
  
  .footerBottom {
    position: relative;
    padding: 42px 0 0;
    margin-top: 30px;
    margin-left: 178px;
    color: #ddd;
  }
  .footerBottom address {
    font-size: 15px;
    font-weight: 300;
  }
  
  .footerBottom .copyright {
    margin: 10px 0 0;
    font-size: 15px;
    font-weight: 300;
  }
  