@charset "utf-8";

/* article부분 사이즈 조절 */

@media screen and (max-width:1024px) {

      .article1 h2 { padding: 30px 0 40px; }
      .article1 ul { z-index: 9999; }
      .article1 ul li { float: left; width: 32%; margin-bottom: 5%;
          text-align: center;
      }
      
      .article1 ul li:nth-child(3n) { margin-right: 0%; }
      .article1 li > div { position: relative; overflow: hidden; }
      .article1 li > div::before {
          content:''; position:absolute; top:0; left:0; right:0;
          bottom:0;  background:rgba(0,0,0,0);
          transition:all 0.4s;
      }
      .article1 li:hover > div::before {
          background: rgba(0,0,0,0.5);
      }
      .article1 li > div img { transition: all 0.4s; }
      /* li:hover > div img { transform: scale(1.2); } */
      .article1 li .zoom { position: absolute;
          top: 50%; transform: translateY(-50%);
          left: 0; right: 0;
          color: #fff; opacity: 0;
          transition: all 0.4s; z-index: 10;
      }
      .article1 li:hover .zoom { opacity: 1; }
      .article1 li h4 { font-size: 35px; margin: 12px; }
      .article1 li p { font-size: 20px; margin: 12px; }
      #wrapper {
        padding-bottom: 42%;
      }

}

@media screen and (max-width:768px) {

.article1 h2 { padding: 30px 0 40px; }
.article1 ul { z-index: 9999; }
.article1 ul li { float: left; width: 32%; margin-bottom: 5%;
    text-align: center;
}

.article1 ul li:nth-child(3n) { margin-right: 0%; }
.article1 li > div { position: relative; overflow: hidden; }
.article1 li > div::before {
    content:''; position:absolute; top:0; left:0; right:0;
    bottom:0;  background:rgba(0,0,0,0);
    transition:all 0.4s;
}
.article1 li:hover > div::before {
    background: rgba(0,0,0,0.5);
}
.article1 li > div img { transition: all 0.4s; }
/* li:hover > div img { transform: scale(1.2); } */
.article1 li .zoom { position: absolute;
    top: 50%; transform: translateY(-50%);
    left: 0; right: 0;
    color: #fff; opacity: 0;
    transition: all 0.4s; z-index: 10;
}
.article1 li:hover .zoom { opacity: 1; }
.article1 li h4 { font-size: 25px; margin: 12px; }
.article1 li p { font-size: 15px; margin: 12px; }

}